.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: var(--bgPrincipal);
    padding: 0.8rem 2rem;
    border-bottom: 4px solid;
    border-image: linear-gradient(
            to right,
            var(--colorRed) 33.33%,
            var(--colorGold) 33.33% 66.66%,
            var(--bgPrincipalBtn) 66.66%
        )
        1;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999999;
    gap: 1rem;
}

.backBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 9999999rem;
    corner-shape: squircle;
    cursor: pointer;
    width: fit-content;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem 1rem !important;
    font-size: 14px;
    transition: all 0.3s ease;
    background: var(--bgSecondaryBtn);
    color: var(--textColorPrincipal);
}

.backBtn:hover {
    background: var(--bgSecondaryBtnHover);
}

.headingHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    flex: 1;
    padding: 0;
    gap: 1rem;
}

.headingContent {
    align-items: left;
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex: 1;
}

.headingLogo {
    width: 70px;
}

.headingTitle {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: var(--textColorPrincipal);
}

.headingDescription {
    font-size: 14px;
    color: var(--textColorSecondary);
}

.headerRightPart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    padding: 0;
}

@media (width < 680px) {
    .headerContainer {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .headingHeaderContainer {
        flex: none;
        width: 100%;
        order: 1;
        justify-content: center;
    }

    .headingContent {
        flex: none;
        align-items: center;
    }

    .backBtnLink {
        order: 2;
    }

    .headerRightPart {
        order: 3;
    }
}
