.headingHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 1rem;
}

.headingLogo {
    width: 90px;
}

.headingContent {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.headingTitle {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: var(--textColorPrincipal);
}

.headingDescription {
    font-size: 14px;
    color: var(--textColorSecondary);
}