.authContainer {
    width: 100%;
}

.authHeader {
    width: 100%;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    z-index: 100;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.authHeaderContent {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--textColorPrincipal);
    font-size: 14px !important;
    font-weight: 500;
    border-radius: 9999999rem;
    corner-shape: squircle;
    width: fit-content;
    padding: 0.5rem 1rem !important;
    transition: all 0.3s ease;
}

.authHeaderContent:hover {
    background: var(--bgSecondaryBtn);
}

.authContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: clamp(30rem, 40rem, 45rem);
    margin: 0 auto;
    text-align: center;
}

.cardTutorSelector {
    background: var(--bgForm);
    border-radius: 0.5rem;
    box-shadow: var(--bsPrimary);
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardPrimaryPart {
    padding: 24px 2rem;
    width: 100%;
}

.cardIconContainer {
    border-radius: 9999999rem;
    corner-shape: squircle;
    background: linear-gradient(
        135deg,
        var(--bgPrincipalBtn),
        var(--bgPrincipalBtnHover)
    );
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 24px;
    box-shadow: var(--bsSecondary);
}

.cardTitle {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
    color: var(--textColorPrimary);
}

.cardDescription {
    color: var(--textColorSecondary);
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    white-space: wrap;
}

.cardSecondaryPart {
    /* padding: 0px 3rem 2rem; */
    width: 100%;
}

.featuresContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 24px;
}

.importantMsgTitle {
    color: var(--textColorPrincipal);
    display: flex;
    align-items: center;
    justify-content: center;
}

.importantMsgText {
    width: 100%;
    margin: 1rem auto 0;
    color: var(--textColorSecondary);
    margin-bottom: 1rem;
}

.importantMsgBtnContainer {
    width: 100%;
}

.authFormContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    box-shadow: var(--bsSecondary);
    border: 1px solid var(--brInput);
    padding: 2.5rem 1.5rem;
    margin-bottom: 2rem;
}

.formChangerText {
    margin-bottom: 1rem;
    color: var(--textColorSecondary);
    font-weight: 300;
}

.formChanger {
    color: var(--bgPrincipalBtnHover);
    cursor: pointer;
}

.formChanger:hover {
    text-decoration: underline;
    color: var(--bgPrincipalBtn);
}

.separator {
    width: 100%;
    margin: 2rem 0;
    border: 0;
    height: 1px;
    background: var(--bgHr);
}

.adminContainer {
    margin: 0 0 4rem;
    width: 60%;
}

.adminText {
    cursor: pointer;
    color: var(--textColorSecondary);
    font-weight: 400;
    font-size: 14px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.adminText:hover {
    color: var(--textColorPrimary);
}

.adminFormContainer {
    border-radius: 14px;
    box-shadow: var(--bsPrincipal);
    padding: 2.5rem 2rem;
    width: 100%;
}

.adminFormHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--textColorPrincipal);
    margin-bottom: 1rem;
    font-weight: 500;
}

.adminCodeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.adminFormLabel {
    font-size: 14px;
    font-weight: 400;
    color: var(--textColorSecondary);
}

.adminFormInput {
    width: 100%;
    background: var(--bgInput);
    border-radius: 100000rem;
    corner-shape: squircle;
    text-align: center;
    margin-top: 0.5rem;
    padding: 8px 12px;
    color: var(--textColorPrimary);
    font-family: "DM Sans", sans-serif !important;
    font-size: 14px;
    border-bottom: 1px solid var(--colorGold);
    outline: transparent;
    text-decoration: none;
    background-color: var(--bgSecondaryBtn);
}

.adminFormInput:focus {
    outline: 1px solid var(--colorGoldHover);
    background-color: transparent;
    border: transparent;
}

.adminFormClose {
    cursor: pointer;
    color: var(--textColorSecondary);
    font-weight: 400;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    font-weight: 400;
}
